.swiper-button-next {
  color: #282c34;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50px;
  height: 100px;
  width: 100px;
  background-color: #ffffff;
}
.swiper-button-prev {
  color: #282c34;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50px;
  height: 100px;
  width: 100px;
  background-color: #ffffff;
}
.swiper-button-disabled {
  display: none;
}

.swiper-slide {
  width: 387px !important;
}
@media (max-width: 820px) {
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-slide {
    width: 275.5px !important;
  }
}

#root {
  overflow: hidden;
}
